
.container {
  width: 80%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;

  background-color: rgb(66, 148, 196);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-chat-room{
  display: flex;
}
.userVideo{
  height: 500px;
  width: 500px;
  background-color: blueviolet;
}
.peerVideo{
height: 500px;
width: 500px;
background-color: burlywood;
}