<div class="container">


    <div class="video-chat-lobby">
        <h2 class="text">Video Chat Application</h2>
        <input #roomName type="text" class="roomName" placeholder="RoomName"><br>
        <div class="optionCheck">
            <input #createRoomCheck type="radio" value="createRoom" name="check" checked> Create Room
            <input #joinRoomCheck type="radio" value="joinRoom" name="check"> Join Room
        </div>
        <div class="btn">
            <button class="join" (click)="joinRoom()">Join</button>
        </div>

    </div>


    <div class="video-chat-room">
        <div class="user-video-container">
            <video #userVideo class="userVideo"></video>
        </div>
        <div class="peer-video-container">
            <video #peerVideo class="peerVideo"></video>
        </div>
    </div>


    <div class="btn-group" *ngIf="showGroupButtons">
        <button #muteButtonV class="mute-button" (click)="muteButton()">Mute</button>
        <button #leaveButtonV class="leave-button" (click)="leaveButton()">Leave Room</button>
        <button #hideCameraV class="hide-camera-button" (click)="hideCameraButton()">Hide Camera</button>
    </div>


</div>